.ipynb*

/test_images/
*.p
/__pycache__/
Image_Gen.ipynb
/test_images_viv/
tracker.py
project_video_output*
/data/
*.mp4
/results/
.idea*
/output_images/
/data/
.ipynb_checkpoints/
.idea/


videos/

output_images/original_image_800.png
output_images/F_averaged_heatmap_800.png
output_images/F_drawn_image_boundingrects_800.png
output_images/F_original_image_with_svmpredictions.png
output_images/F_thresholded_heatmap_800.png
old_data/find_cars.py
output_images/270image.jpg
output_images/F_original_image_hog_features_YChannel.png
output_images/train_not_vehicle.png
output_images/train_video.png

