.ipynb*

/test_images/
*.p
/__pycache__/
Image_Gen.ipynb
/test_images_viv/
tracker.py
Untitled.ipynb
project_video_output*
Untitled1.ipynb
/data/
*.mp4
/results/
.idea*
Untitled Folder/
filtering/
/output_images/
/data/
.ipynb_checkpoints/
/old_data/
Untitled.ipynb
old_data/first.py
first.ipynb
/results/
*.mp4
/project_video_data/
__pycache__/

.idea/
old_data/FeatureExtraction.ipynb
old_data/HOG_subsampling_on_test2.png
old_data/HOG_subsampling_on_test3.png
old_data/HOG_subsampling_test5.png
Project_Video_data/
old_data/YCrCb_detection_ALL_Channel_2.png
old_data/YCrCb_detection_ALL_Channel_3.png
old_data/YCrCb_detection_ALL_Channel_4.png
old_data/YCrCb_detection_ALL_Channel_5.png
old_data/YCrCb_detection_Y_Channel.png
svc_pickle.p
old_data/tuning_params.ods
old_data/shower.py
Car_Detector_old.py
output_images/F_averaged_heatmap_800.png
output_images/F_drawn_image_boundingrects_800.png
output_images/F_original_image_with_svmpredictions.png
output_images/F_thresholded_heatmap_800.png
final_results/
old_data/heatmap_with_bounding_rect.png
nh_results/
output_images/original_image_800.png
old_data/thresholded_averaged_heatmap.png
old_data/thresholded_heatmap_withboundingrectFromFindContours.png
videos/
*.iypnb
old_data/find_cars.py
output_images/270image.jpg
output_images/F_original_image_hog_features_YChannel.png
output_images/train_not_vehicle.png
output_images/train_video.png

